
body{
  margin-top: 80px;
  padding: 0px 10px;
}


.event {

  background-color: rgb(149, 149, 175);
  min-height: 350px;
  max-width: 750px;
  margin-top: 100px;
  border-radius: 15px;
  text-align: left;
  padding:35px;
  font-size: 12px;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  margin-left: 10px;
  margin-right: 10px;
}



.event-info-title {
font-size: 30px;

}

.e-title {
  margin-top: 18px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.e-status{
  color:rgb(0, 0, 0);
  
}

.e-status-info {

}
.event-status-info-open{
  color:rgb(1, 94, 1);
  font-weight: bold;
}
.event-status-info-prog{
  color:rgb(65, 102, 150);
  font-weight: bold;
}
.event-status-info-closed{
  color:rgb(94, 4, 1);
  font-weight: bold;
}

.titles-div {
  display: inline-block;

}

.event-info {
  color: rgb(56, 55, 55);
}

.request-btn {
  border:1px solid black;
  cursor: pointer;
  background-color: rgb(19, 139, 103);
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 15px;
}

.request-btn:hover{
  background-color: rgb(46, 158, 102);
}

.request-btn:active{
  background-color: rgb(30, 170, 105);
}

.delete-btn {
  cursor: pointer;
  background-color: rgb(199, 57, 47);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border:1px solid black;
}

.delete-btn:hover{
  background-color: rgb(226, 67, 56);
}

.delete-btn:active{
  background-color: rgb(218, 79, 70);
}



.info-btn {
  cursor: pointer;
  background-color: rgb(36, 105, 209);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 15px;
  border:1px solid black;
}

.info-btn:hover{
  background-color: rgb(63, 129, 216);
}

.info-btn:active{
  background-color: rgb(16, 87, 192);
}

.create-div {
  max-width: 750px;
  
  

}
.create-btn-div-true{
  
  padding-top: 123px;
  padding-right: 15px;
  display:flex;
  max-width: 750px;
  justify-content: end;

}
.create-btn-yes{
  cursor: pointer;
  background-color: rgb(27, 177, 77);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.create-btn:hover{
  background-color: rgb(33, 196, 87);
}
.create-btn:active{
  background-color: rgb(24, 153, 67);
}


.submit-info-btn{
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  color: rgb(255, 255, 255);
  background-color: rgb(97, 144, 255);
  margin-top: 40px;
  font-family:"Calibri", Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.submit-info-btn:hover{
  background-color: rgb(187, 206, 252);
}


.no-event-div{

  margin-top: 200px;
  padding: 120px;

}
.no-event-div p{
  font-size: 50px;
  margin-bottom: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.create-btn{
  cursor: pointer;
  background-color: rgb(27, 177, 77);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.create-btn:hover{
  background-color: rgb(33, 196, 87);
}
.create-btn:active{
  background-color: rgb(24, 153, 67);
}


.add-btn {
  cursor: pointer;
  background-color: rgb(58, 146, 73);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 15px;
  border: 1px solid black;
}

.add-btn:hover{
  background-color: rgb(32, 180, 57);
}

.add-btn:active{
  background-color: rgb(44, 139, 60);
}

.user-info{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 12px;
}
.form-flex {
  display: flex;
  max-width: 450px;
  justify-content:space-between;
  align-items: top;
  border-bottom: 1px solid rgba(39, 39, 39, 0.411);
  padding-top: 15px;

}
.form-container{

}

.member-delete {

  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-radius: 0px;
  padding: 5px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: -4px;

}

.delete-member-btn {
  background-color: rgb(145, 115, 180);
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
.delete-member-btn:hover{
  background-color: rgb(189, 157, 226);
}


.edit-btn {
  cursor: pointer;
  background-color: rgb(230, 130, 15);
  border: none;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 15px;
  border:1px solid black;
}

.edit-btn:hover{
  background-color: rgb(198, 119, 29);
}

.edit-btn:active{
  background-color: rgb(239, 156, 61);
}

.request-container{

  margin-top:20px;
  font-size: 20px;
  color: black;
}

.request-flex {
  display: flex;
  justify-content: space-between;
  color: rgb(56, 55, 55);
  padding: 5px;
  margin-top: 0px;
  height: 60px;
  align-items: center;
}
.request-flex:hover {
  background-color: rgb(127, 118, 141);
}

.accept-btn {
  background-color: rgb(13, 141, 55);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.decline-btn {
  background-color: rgb(240, 55, 55);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  cursor: pointer;
}



.js-user-info {
  display: none;
}

.js-button{
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(148, 214, 240);
  border: 1px solid black;
  cursor: pointer;
  margin-left: 20px;

}
.js-button-inv{
  display: none;
}

.fields-title {
  color: black;
  font-size: 22px;
}

.fields-subtitle {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-size: 14px;
}
.field-item{
  color:rgb(26, 25, 25);
  font-size: large;
  font-weight: bold;
}

.start-event-btn {
  padding: 10px;
  background-color: rgb(32, 120, 221);
  font-size: 20px;
  cursor: pointer;
  color: white;
  border-radius:15px ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pending-rq{
  display: inline-block;
  font-style: italic;
  font-size: 15px;
  color: black;
}