{% extends 'base.html' %}


{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}



{% block content %}



<center>


{% if user_events %}
  {% for event in user_events %}
  <p>{{event.attended_events.event_name}}</p>
  <p>{{event.attended_events.event_date}}</p>
 

  {% endfor %}
  {% else %}
  <div class="all-content-flex">
  <div class="current-container">
    <center>
      <b>Current Events</b>
      <br>
      <div class="background-pic"></div>
      <img src="{{ url_for('static',filename='images/calendar.png') }}" height="250px">
      <br>
      <span class="event-num">You have 0 upcoming Events</span>
    </center>

  </div>
<div class="white-divider"></div>
  <div class="previous-container">
    <center>
      <b>Previous Events</b>
      <br>
      <img src="{{ url_for('static',filename='images/past.png') }}" height="250px">
      <br>
      <span class="event-num">You have 0 previous Events</span>
    </center>
  </div>
  </div>
  {% endif%}



</center>

{% endblock %}