{% extends 'base.html' %}


{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}



{% block content %}



<center>


{% if user_events %}
  <div class="content-container">
  <div class="event-filled">
    <h3>Your Coordinator events</h3><br/>
    <div class="info-titles">
      <div class="event-info-interior">
        <p>Event Name</p>
        <p>Members</p>
      </div>
      <p>Action</p>
    </div>
  {% for event in user_events %}
    {% if event.attended_events.coordinator_id == current_user.id %}
      <div class="event-info">
        <div class="event-info-interior">
        <p>{{ event.attended_events.event_name }}</p>
          
        {% set count = [] %}
        {% for person in event.attended_events.attendees%}
         
          {% if person.status == 'member'%}
            {% set _ = count.append(person) %}
          {% endif %}
        {% endfor %}
        <p>{{count|length}}</p>

        </div>
        <a href="{{ url_for('event_info', event_id=event.event_id) }}"><button class="edit-btn">Edit</button></a>
      </div>
    {% endif %}
  {% endfor %}
  <br/>
  <h3 class="dash-title">Your Participant Events</h3><br/>
  <div class="info-titles">
    <div class="event-info-interior">
      <p>Event Name</p>
      <p>Members</p>
    </div>
    <p>Action</p>
  </div>
  {% for event in user_events %}
  {% if current_user.is_authenticated and event.attended_events.coordinator_id != current_user.id %}
    <div class="event-info">
      <div class="event-info-interior">
      <p>{{event.attended_events.event_name}}</p>
      <p class="members">{{ event.attended_events.attendees|length }}</p>

      </div>
      <a href="{{ url_for('event_info', event_id=event.event_id) }}"><button class="info-btn">Info</button></a>
    </div>
  {% endif %}
{% endfor %}





  </div>
  </div>
  {% else %}
  <div class="all-content-flex">
    <div class="current-container">
      <center>
        <b>Your Events</b>
        <br>
        <div class="background-pic"></div>
        <img src="{{ url_for('static',filename='images/calendar.png') }}" height="250px">
        <br>
        <span class="event-num">You have 0 Events</span>
      </center>
    </div>
  </div>
  {% endif%}



</center>

{% endblock %}