{% extends 'base.html' %}

  {% block style %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/entries.css') }}">
  {% endblock %}

  {% block title %}
  Secret Santa | Entries
  {% endblock %}


  {% block content %}
<!--Content Below Uses entries.css-->

  <table class="entries-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Barcode</th>
      <th>Price</th>
      <th>Options</th>
    </tr>

    {% for item in items %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>#{{item.barcode}}</td>
      <td>${{item.price}}</td>
      <td>
        <button class="options-button">More Info</button>
        <button class="purchase-button">Purchase this item</button>
      </td>
    </tr>
    {% endfor %}


  </table>
  {% endblock %}
</body>
</html>