{% extends 'base.html' %}

  {% block style %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/events.css') }}">

  {% endblock %}

  {% block title %}
  Secret Santa | Event Details
  {% endblock %}


  {% block content %}

  
  {% if event.event_status=='open' %}

  <center>

    <div class="create-div">


      <div class="event">
        <div class="titles-div">
          <h1 class="e-title"><span class="event-info event-info-title">{{event.event_name}}</span></h1>
          <h1 class="event-title e-title">Event Coordinator: <span class="event-info">{{event.coordinator.username}}</span></h1>
          <h1 class="event-title e-title">Members:</h1>
          <h1 class="event-title e-title">
          
          {% for attendee in event.members %}
            {% if current_user.username==attendee.user.username %}
              {% if attendee.user.id==event.coordinator_id %}
                <li class="event-info">{{ attendee.user.username }} </li>
                
              {% elif attendee.status =='member'%}

              <div class="member-delete">
                <li class="event-info">{{ attendee.user.username }} </li>
              </div>
                
                {% endif %}
            {% else %}
            {% if attendee.status =='member'%}
            <div class="member-delete">
              <li class="event-info">{{ attendee.user.username }} </li>

              
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
            </h1>
        </div>



        <div class="buttons">

          
          {% if current_user.is_authenticated and current_user.id == event.coordinator.id %}
          <br><br><br>
            <br><br><br><br><br>
            
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.username(class="user-info",placeholder="Username...") }}
              {{ form.submit(class="add-btn") }}
            </form>
          {% endif %}

        </div>
        {% if current_user.is_authenticated and current_user.id == event.coordinator.id %}
          {% if event_pending %}
            <div class="request-container">
              <h1 class="e-title">Pending Requests:</h1><br/>
              {% for attendee in event.members %}
              
                {% if attendee.status == 'pending'%}
                <div class="request-flex">
                  <h4>{{attendee.user.username}}</h4>
                  <div class="ad-btns">
                  <a href="{{ url_for('accept_member', member_id=attendee.user.id, event_id=event.event_id) }}"><button class="accept-btn">Accept</button></a>
                  <a href="{{ url_for('decline_member', member_id=attendee.user.id, event_id=event.event_id) }}"><button class="decline-btn">Decline</button></a>
                  </div>
                </div>
                {% endif%}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
        <br><br><br><br>

        
        {% if current_user.is_authenticated and current_user.id == event.coordinator.id and not event_fields %}
          <h1 class="fields-title">Fields For Participants to Fill:</h1>
          <br>
          <p class="fields-subtitle">Up to 10 fields*</p>
          <br><br>
          <form method="POST">
            {{ fieldform.hidden_tag() }}
            {{ fieldform.field_1(class="user-info", id=1, placeholder="First Field...") }}<button class="js-button" id= "first" type="button" onclick="nextfield(2,'second','first')">Add field</button><br>
            {{ fieldform.field_2(class="js-user-info", id=2,placeholder="Second Field...") }}<button class="js-button-inv" id= "second" type="button" onclick="nextfield(3,'third','second')">Add field</button><br>
            {{ fieldform.field_3(class="js-user-info", id=3,placeholder="Third Field...") }}<button class="js-button-inv" id= "third" type="button" onclick="nextfield(4,'fourth','third')">Add field</button><br>
            {{ fieldform.field_4(class="js-user-info", id=4,placeholder="Fourth Field...") }}<button class="js-button-inv" id= "fourth" type="button" onclick="nextfield(5,'fifth','fourth')">Add field</button><br>
            {{ fieldform.field_5(class="js-user-info", id=5,placeholder="Fifth Field...") }}<button class="js-button-inv" id= "fifth" type="button" onclick="nextfield(6,'sixth','fifth')">Add field</button><br>
            {{ fieldform.field_6(class="js-user-info", id=6,placeholder="Sixth Field...") }}<button class="js-button-inv" id= "sixth" type="button" onclick="nextfield(7,'seventh','sixth')">Add field</button><br>
            {{ fieldform.field_7(class="js-user-info", id=7,placeholder="Seventh Field...") }}<button class="js-button-inv" id= "seventh" type="button" onclick="nextfield(8,'eight','seventh')">Add field</button><br>
            {{ fieldform.field_8(class="js-user-info", id=8,placeholder="Eighth Field...") }}<button class="js-button-inv" id= "eight" type="button" onclick="nextfield(9,'ninth','eight')">Add field</button><br>
            {{ fieldform.field_9(class="js-user-info", id=9,placeholder="Ninth Field...") }}<button class="js-button-inv" id= "ninth" type="button" onclick="nextfield(10,'ninth','ninth')">Add field</button><br>
            {{ fieldform.field_10(class="js-user-info", id=10,placeholder="Tenth Field...") }}<br>
            <br>
            {{ fieldform.submit(class="add-btn") }}
          </form>
        {% endif%}

        {% if current_user.is_authenticated and event_fields and member_status and not person_info%}
        <h1 class="e-title">Fill Out Your Information*</h1><br>
        
        <form method="POST" action="{{ url_for('user_fields_add', event_id=event.event_id) }}">
          {{ userfieldsform.hidden_tag() }}
          <div class="form-container">
          {% if event_fields.field_1 %}
            <div class="field-item form-flex">
              {{event_fields.field_1 | title}}:
              {{ userfieldsform.field_1(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_2 %}
            <div class="field-item form-flex">
              {{event_fields.field_2 | title}}:
              {{ userfieldsform.field_2(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_3 %}
            <div class="field-item form-flex">
              {{event_fields.field_3 | title}}:
              {{ userfieldsform.field_3(class="user-info")}}
            </div>

          {% endif %}

          {% if event_fields.field_4 %}
            <div class="field-item form-flex">
              {{event_fields.field_4 | title}}:
              {{ userfieldsform.field_4(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_5 %}
            <div class="field-item form-flex">
              {{event_fields.field_5 | title}}:
              {{ userfieldsform.field_5(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_6 %}
            <div class="field-item form-flex">
              {{event_fields.field_6 | title}}:
              {{ userfieldsform.field_6(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_7 %}
            <div class="field-item form-flex">
              {{event_fields.field_7 | title}}:
            {{ userfieldsform.field_7(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_8 %}
            <div class="field-item form-flex">
              {{event_fields.field_8 | title}}:
              {{ userfieldsform.field_8(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_9 %}
            <div class="field-item form-flex">
            {{event_fields.field_9 | title}}:
            {{ userfieldsform.field_9(class="user-info")}}
            </div>
          {% endif %}

          {% if event_fields.field_10 %}
            <div class="field-item form-flex">
            {{event_fields.field_10 | title}}:
            {{ userfieldsform.field_10(class="user-info")}}
            </div>
          {% endif %}

          {{userfieldsform.submit(class='submit-info-btn')}}
          </div>
        </form>
        {% elif current_user.is_authenticated and event_fields and member_status and person_info %}
          
          <h1 class="fields-title">Your Information for This Event:</h1><br>
          {% if person_info.field_1 %}
          <div class="field-item form-flex">
          {{event_fields.field_1 | title}}:
          {{person_info.field_1 | title}}
          </div>
          {% endif %}

          {% if person_info.field_2 %}
          <div class="field-item form-flex">
          {{event_fields.field_2 | title}}:
          {{person_info.field_2 | title}}
          </div>
          {% endif %}
          
          {% if person_info.field_3 %}
          <div class="field-item form-flex">
          {{event_fields.field_3 | title}}:
          {{person_info.field_3 | title}}
          </div>
          {% endif %}

          {% if person_info.field_4 %}
          <div class="field-item form-flex">
          {{event_fields.field_4 | title}}:
          {{person_info.field_4 | title}}
          </div>
          {% endif %}

          {% if person_info.field_5 %}
          <div class="field-item form-flex">
          {{event_fields.field_5 | title}}:
          {{person_info.field_5 | title}}
          </div>
          {% endif %}

          {% if person_info.field_6 %}
          <div class="field-item form-flex">
          {{event_fields.field_6 | title}}:
          {{person_info.field_6 | title}}
          </div>
          {% endif %}

          {% if person_info.field_7 %}
          <div class="field-item form-flex">
          {{event_fields.field_7 | title}}:
          {{person_info.field_7 | title}}
          </div>
          {% endif %}

          {% if person_info.field_8 %}
          <div class="field-item form-flex">
          {{event_fields.field_8 | title}}:
          {{person_info.field_8 | title}}
          </div>
          {% endif %}

          {% if person_info.field_9 %}
          <div class="field-item form-flex">
          {{event_fields.field_9 | title}}:
          {{person_info.field_9 | title}}
          </div>
          {% endif %}

          {% if person_info.field_10 %}
          <div class="field-item form-flex">
          {{event_fields.field_10 | title}}:
          {{person_info.field_10 | title}}
          </div>
          {% endif %}


        {% elif current_user.is_authenticated and event_fields %}
        
        <h1 class="fields-title">Fields for This Event:</h1><br>
          <div class="field-item">{{event_fields.field_1 | title}}</div>
          <div class="field-item">{{event_fields.field_2 | title}}</div>
          <div class="field-item">{{event_fields.field_3 | title}}</div>
          <div class="field-item">{{event_fields.field_4 | title}}</div>
          <div class="field-item">{{event_fields.field_5 | title}}</div>
          <div class="field-item">{{event_fields.field_6 | title}}</div>
          <div class="field-item">{{event_fields.field_7 | title}}</div>
          <div class="field-item">{{event_fields.field_8 | title}}</div>
          <div class="field-item">{{event_fields.field_9 | title}}</div>
          <div class="field-item">{{event_fields.field_10 | title}}</div>
        {% endif %}
        
        <div class="key-btns-container">
        {% if current_user.is_authenticated and current_user.id == event.coordinator.id and event_fields and event.members|length>1 %}
          
          <br><br><a href="{{ url_for('start_event', event_id=event.event_id) }}"><button class="start-event-btn">Start Event</button></a>

        {% endif %}
        {% if current_user.is_authenticated and current_user.id == event.coordinator.id %}
          <br><br><br>
            <a href="{{ url_for('delete_event', event_id=event.event_id) }}"><button class="delete-btn">Delete Event</button></a>
        {% endif %}
        </div>
      </div>

    </div>


  </center>
  {% elif event.event_status=='closed' %}
  <p>Closed event</p>
  {% endif %}





  <script>
    
    function nextfield(id,btnID,prevBTN){
      console.log(id)
      
      document.getElementById(id).classList.add("user-info")
      document.getElementById(id).classList.remove("js-user-info")
      
      document.getElementById(btnID).classList.add("js-button")
      document.getElementById(btnID).classList.remove("js-button-inv")
      
      document.getElementById(prevBTN).classList.add("js-button-inv")
      document.getElementById(prevBTN).classList.remove("js-button")

    }
  </script>
  {% endblock %}
</body>
</html>