{% extends 'base.html' %}

  {% block style %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/events.css') }}">
  {% endblock %}

  {% block title %}
  Secret Santa | Event Details
  {% endblock %}


  {% block content %}

  

  <center>

    <div class="create-div">


      <div class="event">
        <div class="titles-div">
          <h1 class="e-title"><span class="event-info event-info-title">{{event.event_name}}</span></h1>
          <h1 class="event-title e-title">Event Coordinator: <span class="event-info">{{event.coordinator.username}}</span></h1>
          <h1 class="event-title e-title">Start Date: <span class="event-info">{{event.event_date.strftime('%m-%d-%Y')}}</span></h1>
          <h1 class="event-title e-title">Members:</h1>
          <h1 class="event-title e-title">
          {% for attendee in event.attendees %}
            {% if current_user.username==attendee.user.username %}
              {% if attendee.user.id==event.coordinator_id %}
                <li class="event-info">{{ attendee.user.username }} </li>
                
              {% elif attendee.status =='member'%}
              <div class="member-delete">
                <li class="event-info">{{ attendee.user.username }} </li>
              </div>
                {% endif %}
            {% else %}
            {% if attendee.status =='member'%}
            <div class="member-delete">
              <li class="event-info">{{ attendee.user.username }} </li>
                {% if current_user.id==event.coordinator_id %}
                <a href="{{ url_for('delete_member', member_id=attendee.user.id, event_id=event.event_id) }}"><button class="delete-member-btn ">Remove</button></a>

                {% endif %}
              
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
            </h1>
        </div>



        <div class="buttons">

          
          {% if current_user.is_authenticated and current_user.id == event.coordinator.id %}
          <br><br><br>
            <a href="{{ url_for('delete_event', event_id=event.event_id) }}"><button class="delete-btn">Delete Event</button></a>
            <br><br><br><br><br>
            
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.username(class="user-info",placeholder="Username...") }}
              {{ form.submit(class="add-btn") }}
            </form>
          {% endif %}

        </div>
        {% if current_user.is_authenticated and current_user.id == event.coordinator.id %}
        <div class="request-container">
          <h1 class="e-title">Pending Requests:</h1><br/>
          
            {% for attendee in event.attendees %}
            
              {% if attendee.status == 'pending'%}
              <div class="request-flex">
                <h4>{{attendee.user.username}}</h4>
                <div class="ad-btns">
                <button class="accept-btn">Accept</button>
                <button class="decline-btn">Decline</button>
                </div>
              </div>
              <br>
              {% endif%}
            {% endfor %}

        </div>
        {% endif %}
      </div>

    </div>


  </center>






  {% endblock %}
</body>
</html>