{% extends 'base.html'%}

{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/events.css') }}">

{% endblock %}

{% block title %}
Secret Santa | Event Details
{% endblock %}


{% block content %}

{{selected_person.first_name+" "+selected_person.last_name}}'s Information for this event!<br>

{{person_fields.field_titles.field_1|title}}
{{person_fields.field_1 or ""}}

{{person_fields.field_titles.field_2|title}}
{{person_fields.field_2 or ""}}

{{person_fields.field_titles.field_3|title}}
{{person_fields.field_3 or ""}}

{{person_fields.field_titles.field_4|title}}
{{person_fields.field_4 or ""}}

{{person_fields.field_titles.field_5|title}}
{{person_fields.field_5 or ""}}

{{person_fields.field_titles.field_6|title}}
{{person_fields.field_6 or ""}}

{{person_fields.field_titles.field_7|title}}
{{person_fields.field_7 or ""}}

{{person_fields.field_titles.field_8|title}}
{{person_fields.field_8 or ""}}

{{person_fields.field_titles.field_9|title}}
{{person_fields.field_9 or ""}}

{{person_fields.field_titles.field_10|title}}
{{person_fields.field_10 or ""}}

{% endblock %}